.padreMayor{
    border: 0px solid black;
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
}
.titulo{
    
    border: 5px solid black;
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    

}
.enlacePadre{
    border: 5px solid black;
    width: 700px;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    
}
.padreMayor2{
    background-color: blue;
    display: flex;
    flex-direction: row;

}
.foto{
    
    background-color:blue;
    height: 700px;
    width: 630px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.padreTexto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.texto{
    font-size: 40px;
    color: whitesmoke;
}
.texto1{
    font-size: 40px;
    color: whitesmoke;   
}
.texto2{
    font-size: 40px;
    color: whitesmoke;   
}
.info2{
    margin-left: 50px;
}


